.header{
   
    display: flex;
    justify-content: space-between;
padding-top: 2rem;
}

.logo{
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    margin-top: 0 rem;
    font-weight: bold;
    color: orangered;
    justify-content: space-between;
}

.logo2{
    text-transform: uppercase;
    text-decoration-thickness: 2px;
    font-size: 2rem;
    font-weight: bold;
    color: orangered;
    margin-top: 7rem;
    justify-content: space-between;
    
}

.header-menu{
    list-style: none;
    font-size: 17px;
    font-style: bold;
    display: flex;
    gap: 2.5rem;
    color: rgb(245, 237, 237);
  text-transform: uppercase;
  text-decoration: none;
   
}
a{
    
text-transform: uppercase;
text-size-adjust: Bold;
text-decoration: none;
color: white;
}


a:hover{
    cursor: pointer;
    color:orange;
    
   
}

.header-menu>li:hover{
    cursor: pointer;
    color: orange;

    

}


.hero-button{
    text-decoration: none;
    display: inline-flex;
    
    font-weight: normal;
    color: White;
    background-color:orangered;
    height: 3rem;
    width: 6rem;
    padding-top: 0.8rem!important;
    padding-bottom: 1rem!important;
    padding-right: 0.7rem;
    border-radius: 0.5rem;
    text-transform: uppercase;

margin-left: 7rem;
margin-right: 1rem;
}

.hero-button:hover{
    color: black;
cursor: pointer;

}




